<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <title>Biblioteka</title>
    <style>



    </style>
</head>
<body>
    <div id="header">

        <h1>Biblioteka Główna</h1>

    </div>

    <div id="aside">
        <h2><a href="/listofbook"> Spis książek</a></h2>
        <h2><a href="/returnbook">Zwróć książke</a></h2>
        <h2><a href="/logout" style="color: #FF9400; font-size: 22px;">Wyloguj sie</a></h2>
    </div>

    <div id="main">

            <p>Witaj w naszej bibliotece  <p th:text="${nameUser}">
           </p></p>


 
     </div>
  
   
   
    <div id="footer">
        <span>Zadanie wykonane przez: 
            <p>Daniel Rogowski  © 2022</p>
        </span>

    </div>
</body>
</html>