<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <title>Biblioteka</title>

    <style>

        #printList
        {
            margin-top: 10px;
            width: 60%;
        }

    </style>
</head>
<body>
<div id="header">

    <h1>Biblioteka Główna</h1>

</div>

<div id="aside">
    <h2><a href="/listofbook"> Spis książek</a></h2>
    <h2 sec:authorize="hasAuthority('USER')"><a href="/returnbook">Zwróć książke</a></h2>
    <h2 sec:authorize="hasAuthority('ADMIN')"><a href="/addbook">Dodaj książke</a></h2>
    <h2 sec:authorize="hasAuthority('ADMIN')"><a href="/user">Zarządzaj kontami</a></h2>
    <h2><a href="/logout" style="color: #FF9400; font-size: 22px;">Wyloguj sie</a></h2>
</div>


<div id="main">
    <div id="printList">
        <table>
            <tr>
                <th>Login użytkownika</th> <th>Imie użytkownika</th> <th>Nazwisko użytkownika</th> <th>Data urodzenia</th>
            </tr>
            <div th:each="user : ${users}">

                <tr>
                    <td th:text="${user.userLogin}"/> <td th:text="${user.nameUser}"/> <td th:text="${user.surNameUser}"/> <td th:text="${user.dateOfBirthday}"/>

                    <td>
                        <button  th:attr="data-idUser=${user.idUser}" onclick="myFunction(this.getAttribute('data-idUser'))">Usun</button>
                    </td>
                </tr>

            </div>
        </table>

    </div>
</div>



<div id="footer">
        <span>Zadanie wykonane przez:
            <p>Daniel Rogowski  © 2022</p>
        </span>

</div>

<script>

    function myFunction(idUser)
    {
        window.location.href="/userdelete?id=" + idUser;
    }

</script>
</body>
</html>