<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Biblioteka</title>

</head>
<body>
    
   <div id="header">

        <h1>Biblioteka Główna</h1>

    </div>

    <div id="aside">
        <!--<h2><a href="/listofbook"> Spis książek</a></h2>
        <h2><a href="/rentbook">Wypożycz książke </a></h2>
        <h2><a href="/returnbook">Zwróć książke</a></h2>
        <h2><a href="/login">Wyloguj sie</a></h2>-->
    </div>

    <div id="main">
        
        <form th:action="@{/login}"  method="POST">
            <label>Login:</label>
            <br>
            <input type="text" name="login" ><br><br>
            <label>Hasło:</label>
            <br>
            <input type="password" name="password"><br><br>
            <input type="submit" value="Zaloguj">
          </form>
        <br>
        <br>
        <button id="buttonRegister" onclick="goRegister()">Rejestracja</button>
     </div>
  
   
   
    <div id="footer">
        <span>Zadanie wykonane przez: 
            <p>Daniel Rogowski  © 2022</p>
        </span>

    </div>
    <script>


        function goRegister()
        {
            window.location="/register";
        }

    </script>
</body>
</html>