<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Biblioteka</title>

</head>
<body>

<div id="header">

    <h1>Biblioteka Główna</h1>

</div>

<div id="aside">
    <!--<h2><a href="/listofbook"> Spis książek</a></h2>
    <h2><a href="/rentbook">Wypożycz książke </a></h2>
    <h2><a href="/returnbook">Zwróć książke</a></h2>
    <h2><a href="/login">Wyloguj sie</a></h2>-->
</div>

<div id="main">

    <form th:action="@{/register}" th:object="${addUser}" onkeyup="checkData()" method="POST">
        <label>Login:</label>
        <br>
        <input type="text" id="login" th:field="*{userLogin}"><br>
        <label>Hasło:</label>
        <br>
        <input type="password" id="password" onkeyup="checkPassword()" th:field="*{userPassword}"><br>
        <label>Powtórz hasło:</label>
        <br>
        <input type="password" id="confirmPassword" onkeyup="checkPassword()"><br>
        <p id='message'></p>
        <label>Imie:</label>
        <br>
        <input type="text" id="nameUser" th:field="*{nameUser}"><br>
        <label>Nazwisko:</label>
        <br>
        <input type="text" id="surNameUser" th:field="*{surNameUser}"><br>
        <label>Data urodzenia:</label>
        <br>
        <input type="date" id="myDate" onclick="setStateDate()" th:field="*{dateOfBirthday}"><br>
        <input type="submit" id="submit" style="display: none;" value="Zarejestruj">
    </form>
    <br>
    <br>
    <button onclick="goLogin()">Zaloguj sie</button>
</div>



<div id="footer">
        <span>Zadanie wykonane przez:
            <p>Daniel Rogowski  © 2022</p>
        </span>

</div>
<script>


    function goLogin()
    {

            window.location="/login";

    }



    function setStateDate()
    {
        document.getElementById('myDate').addEventListener('change', function() {

            if (this.value == null)
            {
                document.getElementById('submit').disabled=true;
            }
            else
            {
                document.getElementById('submit').disabled=false;
            }
        });
    }


    function checkData()
    {

        // console.log(document.getElementById('login').value)
        // console.log(document.getElementById('password').value)
        // console.log(document.getElementById('confirmPassword').value)
        // console.log(document.getElementById('nameUser').value)
        // console.log(document.getElementById('surNameUser').value)
        // console.log(document.getElementById("myDate").value)



        document.getElementById('submit').style.display="";

        if ((document.getElementById('login').value) && (document.getElementById('password').value) && (document.getElementById('confirmPassword').value)
        && (document.getElementById('nameUser').value) && (document.getElementById('surNameUser').value) && (document.getElementById("myDate").value) && (document.getElementById("myDate").value) != "")
        {
            document.getElementById('submit').disabled=false;

        }
        else
        {
            document.getElementById('submit').disabled=true;

        }
    }

    function checkPassword() {
        if (document.getElementById('password').value ==
            document.getElementById('confirmPassword').value) {
            document.getElementById('password').style.backgroundColor = 'green';
            document.getElementById('confirmPassword').style.backgroundColor = 'green';
            //document.getElementById('message').color = 'green';
            //document.getElementById('message').innerHTML = 'Hasła są takie same';
            document.getElementById('submit').disabled=false;
        } else {
            // document.getElementById('message').style.color = 'red';
            // document.getElementById('message').innerHTML = 'Hasła nie są poprawne!';
            document.getElementById('confirmPassword').style.backgroundColor = 'red';
            document.getElementById('password').style.backgroundColor = 'red';
            document.getElementById('submit').disabled=true;
        }


    }



</script>
</body>
</html>