<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <title>Biblioteka</title>

    <style>

        button
        {
            display: block;
            margin-left: auto;
            margin-right: auto;

        }

    </style>
</head>
<body>
    <div id="header">

        <h1>Biblioteka Główna</h1>

    </div>

    <div id="aside">
        <h2><a href="/listofbook"> Spis książek</a></h2>
        <h2><a href="/returnbook">Zwróć książke</a></h2>
        <h2><a href="/logout" style="color: #FF9400; font-size: 22px;">Wyloguj sie</a></h2>
    </div>

    <div id="main">
        <h3 style="text-align:center" th:text="${emptyBorrowBook}"></h3>
        <div th:each="borrowBook : ${borrowBooks}" id="nvm">
            <p th:text="${borrowBook.nameBook + ' ' + borrowBook.authorBok + ' ' + borrowBook.yearofPub + ' ' + borrowBook.ISBN + ' ' + borrowBook.dateofRet}"
               id="testData"  >
            </p><button  th:attr="data-idUser=${borrowBook.idUser}" onclick="myFunction(this.getAttribute('data-idUser'))">Zwróć</button>

        </div>





    </div>
  
   
   
    <div id="footer">
        <span>Zadanie wykonane przez: 
            <p>Daniel Rogowski  © 2022</p>
        </span>

    </div>

<script>

    function myFunction(idUser)
    {
        window.location.href="/borrowbook?id=" + idUser;
    }

</script>
</body>
</html>